@font-face {
	font-family: "quotus";
	src: url("../fonts/quotus.ttf");
}

@font-face {
	font-family: "januaryHw";
	src: url("../fonts/januaryHw.ttf");
}

.fm{
	font-family: cursive;
}

body{
	font-family: quotus;
}

header{
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(255,148,75,0.8);
}

ul{
 	list-style-type: none;
 	margin: 0;
 	padding: 4px;
 	width: 100%;
 	overflow: hidden;
 	background-color: rgba(255,148,75,0);
}

li{
	display: inline-block;
	text-align: center;
	color: rgb(0,0,0);
	padding: 10px;
}

a{
	text-decoration: none;
	color: rgb(85,85,85);
}

a:hover:not(.active) li{
	background: rgb(138,78,41);
	color: rgb(255,255,255);
	border-radius: 5px;
}

.active{
	color: rgb(255,255,255);
	background: rgb(138,78,41);
	border-radius: 5px;
}

footer{
	text-align: center;
	font-family: cursive;
	font-size: 15px;
	background: linear-gradient(saddlebrown,lightsalmon);
	padding: 10px;
}

#page_head{
	text-transform: uppercase;
	font-size: 10px;
	background-color: rgb(138,78,41);
	color: rgb(255,255,255);
	padding: 1px; 
}

.phead{
	margin-left: 5.5%;
}

#head2{
	color: rgb(138,78,41);
	font-weight: bold;
	font-size: 22px;
	margin-left: 8%;
}

#container{
	margin-left: 8%;
	width: 90%;
	height: 120px;
	position: relative;
	overflow: hidden;
	border: 1px solid rgb(255,148,75);
	border-radius: 8px;
	background-image: url("../images/bus.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0% 80%;
}

main{
	width: 70%;
	display: inline-block; 
	background-color:rgb(255,255,255);
}

#box0{
	margin-left: 8%;
	width: 90%;
	text-align: justify;
}

.box1{
	margin-left: 8%;
	width: 90%;
}

.boxPic{
	width: 250px;
	margin-bottom: auto;
	border-radius: 10px;
	display: inline-block;
}

.boxText{
	display: inline-block;
	width: 65%;
	padding: 10px;
	text-align: justify;
}

.side1, .side2{
	margin-top: 25px;
	width: 80%;
	border: 2px solid rgb(255,148,75);
	border-radius: 15px;
	text-align: center;
	overflow: hidden;
}

aside{
	width: 27%;
	/*height: 200px;*/
	display: inline-block;
	float: right;
}

.title{
	margin-top: 0;
	padding: 4px;
	color: rgb(255,255,255);
	background: rgb(138,78,41);
	display: block;
}

.link{
	margin-left: 50px;
	margin-right: 50px; 
	text-align: center;
	padding: 4px;
	border-radius: 5px;
	color: rgb(255,255,255);
	background: rgb(138,78,41);
	display: block;
}

.link:hover{
	background: rgb(255,148,75);
	color: rgb(255,255,255);
}