.header{
 background-color: brown;
 height:20px;
}
.menu{text-decoration:none;
     
}	

ul a li{display:inline;
        text-align: center;
        margin-right:180px;
        color: white;
}

a{text-decoration:none;}

body{
	background-color: rgb(0,0,0);
	background-image: url("tp2.jpg");
           /* opacity: ;*/
			background-size: cover;
			background-repeat: no-repeat;
			margin: 0;
			border:0;
			width: :100px;
			display: flex;
			flex-direction: column;


}


#container {background-color: brown;    
            width:80%;
			border:2px solid white;
			margin:auto;}

	#HPtext{
		margin:50px auto;
	    background-position: center;
	    margin-top:50px;
	    height:120vh;
	    width:450px;
	    display: flex; 
	    justify-content: center;
	    align-items: center;

	}

	
} 



    
    
